<header class="helvetica bg-black w-100 relative">
    <nav class="dn-l dn-w w-100 tc white z-3">
        {{!-- <input type="checkbox" id="navigation" class="r-nav-activate absolute dn"> --}}
        <label for="navigation" class="dn-ns pointer w1 fl mt3 ml3">
          <img src="../../assets/svg/logos/lexicoi-short-white.svg" alt="Lexicoi Logo">
        </label>
        <div class="r-nav w-100 overflow-hidden f3 pb3">
          {{!-- Contents of menu, should be the same mobile and not mobile --}}
        </div>
    </nav>

  <nav class="pv3 bg-black dn db-ns">
    <div class="f5 fw4 white pv3 cf">
      <div class="fl ml4 ml5-ns mr4" style="width: 1.2rem">
        <img src="../../assets/svg/logos/lexicoi-short-white.svg" alt="Lexicoi Logo">
      </div>

      <label for="navigation" class="pointer w2 fr mr4 mr5-ns dn-ns">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.2em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1536 1280"><path d="M1536 1088v128q0 26-19 45t-45 19H64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 704V576q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 192V64q0-26 19-45T64 0h1408q26 0 45 19t19 45z" fill="white"/></svg>
      </label>
    </div>
  </nav>
</header>
