<div class="pb1">
  <span class="ttu f6 measure">Ranking</span>
  <div class="bg-black white">{{model.rank}}</div>
</div>

<div class="bb"></div>

<div class="pb1">
  <span class="ttu f6 measure">Title</span>
  <div>{{model.title}}</div>
</div>

<div class="bb"></div>

{{#link-to "base.tasks.compare" model.id classNames="f6 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa2 ba border-box mr4"}}
  <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
    <title>Compare</title>
    <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
  </svg>
  <span class="pl1">Compare</span>
{{/link-to}}
