<main id="content" role="main">
  {{main-header rankableGroup=model}}

  <div class="w-90 pt3 center helvetica">
    <div>
      <div class="flex">
        <div class="w-25">
          <div class="b f1">
            #1
          </div>
          <div class="f6">
            {{#link-to "tasks" classNames="link"}}View the rest of your tasks{{/link-to}}
          </div>
        </div>

        <div class="w-75">
          <div class="f3">
            Looks like you don't have any tasks setup here. Surely you have something on your mind?
            Clear your head and add it above.
          </div>
        </div>
      </div>
    </div>

    <div class="h1 mt3 bg-black"></div>
  </div>

</main>
