<div class="w-100 helvetica">
  <div class="bg-black ph6-ns pv2">
    <div class="flex">
      {{#link-to "index" classNames="w-75-ns w-60 white b f3 link"}}
        LEXICOI
      {{/link-to}}

      <div class="flex w-25-ns w-40 h2">
        <form onsubmit={{action "createRankable"}}>
          <input
            type="text"
            class="pl2 cf fl bn h-100 border-box"
            name="rankable-title"
            placeholder=" What's on your mind?">
            <input type="submit" value="+" class="w2 f4 dib white bg-dark-blue h-100 border-box ba b--black">
        </form>
      </div>
    </div>
  </div>
</div>
