<main class="helvetica" role="main">
  {{main-header rankableGroup=model.rankableGroup}}

  <div class="ba pa3 ph6-ns">
    {{#link-to "index" classNames="w-100 w-auto-ns ph1 f5 black b br"}}
      Home
    {{/link-to}}
    {{#link-to "category" model.rankableGroup.title classNames="w-100 w-auto-ns ph1 f5 black b br"}}
      Category
    {{/link-to}}
    {{#link-to "task" classNames="w-100 w-auto-ns ph1 f5 black b link"}}
      Task
    {{/link-to}}
  </div>

  <div class="flex flex-wrap pa3 ph6-ns">
    <div class="w-100 w-40-ns">
      <div class="f3 b">Tasks</div>
      <ul class="list pl0 mr5-ns">
        {{#each model.rankableGroupRankables as |rankable|}}
          {{#link-to "task" rankable.id
            classNames="link dt w-100 bb b--black-10 pb2 mt2 dim blue"
            tagName="a"}}
            <div class="dtc v-top pl2">
              <h1 class="f6 f5-ns fw6 lh-title black mv0">{{rankable.title}}</h1>
            </div>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>

    <div class="w-100 w-60-ns">
      <div class="f3 b">Task Details</div>
      <div class="w-100 bg-black white b ph2 pt2">
        Title
      </div>
      <form class="ph2 link dt w-100 bb b--black-10 pb2 mt2">
        <textarea placeholder="Looks like you a title. Click here and add one"
          value={{rankable.title}} class="db bn w-100 mb2"></textarea>
        <input type="submit" value="Save changes" class="h-100 ba black bg-white b--black">
      </form>

      <div class="w-100 bg-black white b ph2 pt2">
        Description
      </div>
      <form class="ph2 link dt w-100 bb b--black-10 pb2 mt2">
        <textarea placeholder="Looks like you a description. Click here and add one"
          value={{rankable.title}} class="db bn w-100 mb2"></textarea>
        <input type="submit" value="Save changes" class="h-100 ba black bg-white b--black">
      </form>
    </div>
  </div>
</main>
