<main id="content" role="main">
{{main-header rankableGroup=model}}

<div class="w-90 pt3 center helvetica">
  <div>
    <div class="flex">
      {{#each model.rankables as |rankable|}}
        <div class="db">
          {{#link-to "task" rankable}}
            More details
          {{/link-to}}
          {{rankable.title}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="h1 mt3 bg-black"></div>
</main>
