<div class="w-100 helvetica">
  <header class="w-100 pa3 ph3 ph6-ns bg-black">
    <div class="db dt-ns mw9 center w-100">
      <div class="db dtc-ns v-mid tl w-50">
        <a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link white" title="Home">
          LEXICOI
        </a>
      </div>
    </div>
  </header>

  <div class="bg-dark-blue ph6-ns pv3">
    <div class="flex flex-wrap center ph3 ph4-ns">
      <div class="w-100 w-70-ns">
        <div class="f1 b white mb2">
          Welcome to compare
        </div>
        <div class="f5 fw5 white mb3">
          Spend less time managing and more time doing.
        </div>

        <div class="flex h2">
          <form class="w-100 w-50-ns" onsubmit={{action "createRankable"}}>
            <input
              type="text"
              name="rankable-title"
              class="w-90 pl2 cf fl bn h-100 border-box" placeholder=" What's on your mind?">
            <input type="submit" value="+" class="w-10 w2 f4 dib white bg-black h-100 border-box ba b--black">
          </form>
        </div>
      </div>

      <div class="w-100 w-30-ns pt3 pt0-ns">
        <div class="w-100 pa3 h-100 w5 bg-black white">
          <div class="f6 mb2 white">
            Quick links:
          </div>

          <div class="f5 white b">
            <a class="db mb1 link white underline" href="#">Categories</a>
            {{#link-to "tasks" classNames="db mb1 link white underline"}}All tasks{{/link-to}}
            <a class="db mb1 link white underline" href="#">Compare</a>
            <a class="db mb1 link white underline" href="#">Settings</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
