<div id="header" class="pv3 bg-black white">
  <span class="ph4">
    △
  </span>
  <span class="b white helvetica">
    rankables
  </span>
  <button class="fr bg-white black bn dn-ns dib mr3">
    =
  </button>
</div>

<div>
  <article class="pa4 black-80 helvetica">
    <form onsubmit={{action 'signUp'}}>
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
        <div class="mt3">
          <label class="db fw4 lh-copy f6" for="username">Username</label>
          <input
             class="pa2 input-reset ba bg-transparent w-100 measure"
             type="text"
             value={{username}}
             name="username"
             id="username">
        </div>
        <div class="mt3">
          <label class="db fw4 lh-copy f6" for="password">Password</label>
          <input
             class="pa2 input-reset ba bg-transparent w-100 measure"
             type="password"
             name="password"
             value={{password}}
             id="password">
        </div>
        <div class="mt3">
          <label class="db fw4 lh-copy f6" for="password-confirmation">Password Confirmation</label>
          <input
             class="pa2 input-reset ba bg-transparent w-100 measure"
             type="password"
             name="password-confirmation"
             value={{passwordConfirmation}}
             id="password-confirmation">
        </div>
      </fieldset>
      <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign Up"></div>


      <div class="lh-copy mt3">
        {{#link-to "login" classNames="f6 link dim black db"}}Login instead{{/link-to}}
      </div>
    </form>
  </article>
</div>
